<div class="row">
    <div class="col">
        <select class="form-select form-select-m" aria-label=".form-select-sm example" id="selector">
            <option value="1" selected>Name</option>
            <option value="2">Sinhala name</option>
            <option value="3">Barcode</option>
            <option value="4">Cost price</option>
            <option value="5">Wholesale price</option>
            <option value="6">Bill price</option>
            <option value="7">Sale price</option>
        </select>
    </div>
    <div class="col">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="selectorName">
            <option value="1" selected>Start with (only available with Name)</option>
            <option value="2">Include (only available with Name)</option>
        </select>
    </div>
</div>
    <br>
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-describedby="button-addon2" id="input" >
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchItems()">Search</button>
        </div>
    </div>

<br *ngIf="isLoading">
<div class="d-flex justify-content-center text-success" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <br *ngIf="isLoading">
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr *ngIf="showDateTime">
                <td scope="col" colspan="9" class="DateTime">Last Updated Date : {{DateTime[0].ItemName}} {{DateTime[0].Barcode}}</td>
            </tr>
            <tr *ngIf="showDateTime">
                <td scope="col" colspan="9" class="DateTime">Number Of All Items : {{numberOfItems}}</td>
            </tr>
            <tr *ngIf="!isLoading">
                <td scope="col" colspan="9" class="DateTime">Number Of finded Items : {{countOfFindedProducts}}</td>
            </tr>
            <br>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Item Id</th>
                <th scope="col">Name</th>
                <th scope="col">Sinhala Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Cost Price</th>
                <th scope="col">Wholesale Price</th>
                <th scope="col">Bill Price</th>
                <th scope="col">Sale Price</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of selectedProduct">
                <td [routerLink]="['item-details',product.ITEM_ID]"><button type="button" class="btn-xs icon"><i class="fa fa-eye"></i></button></td>
                <th scope="row">{{product.ITEM_ID}}</th>
                <td>{{product.ItemName}}</td>
                <td>{{product.SinhalaName}}</td>
                <td>{{product.Barcode}}</td>
                <td>{{product.Cost}}</td>
                <td>{{product.Wholesale}}</td>
                <td>{{product.BillPrice}}</td>
                <td>{{product.Price}}</td>
             
            </tr>
        </tbody>
    </table>    
</div>
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isEmpty">
    <div class="row">
    <div class="col">
        No items related to input : <b>{{input}}</b> 
    </div>
    <div class="col">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        </div>
</div>
</div>


